body {
  background-image: linear-gradient(#c199f6, #516395);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
* {
  margin: 0px;
  padding: 0px;
}
/* for the home page  */
.box {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
.color {
  background-color: transparent !important;
  border: none;
}

/* // for the image of currency */
.size {
  max-height: 300px;
  position: relative;
  bottom: 2rem;
  background-color: transparent;
}
/* // for the input background */
.transparent {
  background-color: transparent;
}

/* Styles for dark mode */
.dark-mode {
  background-image: url("https://img.freepik.com/premium-photo/abstract-art-chinese-watercolor-art-background-colorful-texture-simple-design-ink-wash-painting_912113-188541.jpg?w=740");

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Optional: Add a smooth transition to improve the visual experience */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}
.nav-link {
  color: #6c5ce7;
  font-weight: bold;
}
.forgot-password {
  color: red;
  font-weight: bold;
}
.remove {
  border: none;
  border-bottom: 2px solid wheat;
}

/* // media query for singup button with google */
@media screen and (max-width: 600px) {
  .change {
    flex-direction: column;
    width: 100%;
  }
  .margin {
    margin-bottom: 9px;
  }
}
